:root {
    --light-neutral: #E8EBED;
    --dark-neutral: #090302;
    --accent-1: #EC4E20;
    --accent-2: #F1C40F;
    --accent-3: #00D9C0;
}

* {
    outline: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Asta Sans", Arial, sans-serif;
    background-color: var(--light-neutral);
}

a {
    color: inherit;
}

input, textarea {
    font-family: "Asta Sans", Arial, sans-serif;
}

#signup-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
}

nav {
    width: 100%;
    height: 60px;
    background-color: var(--dark-neutral);
    color: var(--light-neutral);
    display: grid;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    box-sizing: border-box;
    grid-template-columns: 1fr 3fr 1fr;
    position: fixed;
    font-family: "Funnel Sans", Arial, sans-serif;
    top: 0;
    left: 0;
    z-index: 10;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

nav ul a:not(.ignore-nav) {
    transition: 200ms;
    text-decoration: none;
    transform:scaleX(1.1);
}

nav ul a:not(.ignore-nav):hover {
    filter: sepia(0.3) saturate(2);
    transform: scaleX(1.3) scaleY(1.1);
}

nav ul a.dashboard:hover {
    animation: accentColorAnimation 3s;
}



@keyframes accentColorAnimation {
    0% { color: var(--light-neutral); }
    20% { color: var(--accent-1); }
    40% { color: var(--accent-2); }
    60% { color: var(--accent-3); }
    80% { color: var(--accent-1); }
    100% { color: var(--light-neutral); }
}

@keyframes bounce {
    0% {
        transform: scaleX(1.2);
    }
    20% {
        transform: scaleX(1) scaleY(1.2);
    }
    40% {
        transform: scaleX(1.3) scaleY(0.9);
    }
    100% {
        transform: scaleX(1.2);
    }
}

section {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    color: var(--light-neutral);
    padding: 0 20px;
    box-sizing: border-box;
}

section:nth-child(3) {
    padding-top: 80px;
}

section h1 {
    font-size: 3em;
}

section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
section>* {
    position: relative;
    z-index: 1;
}

#skip-to-main-content {
    display: none;
    position: absolute;
}

#skip-to-main-content:focus-within {
    display: block;
}

.main {
    display: grid;
    align-items: center;
    justify-content: center;
}

button {
    background: var(--accent-2);
    border: none;
    padding: 10px 20px;
    color: var(--dark-neutral); 
    font-size: 1em;
    cursor: pointer;
    transition: all 200ms;
}

button:hover {
    background: var(--dark-neutral);
    color: var(--accent-2);
    transform: scaleX(1.2);
}

button:focus {
    animation: bounce 1s;
}

.signup-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.dark-bg section::after {
    background-color: rgba(0, 0, 0, 0.8);
}

.pricing-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-content: center;
    gap: 20px;
}
.pricing-card {
    background: var(--light-neutral);
    color: var(--dark-neutral);
    padding: 20px;
    box-sizing: border-box;
}